.green
{
  background-color: #229954;
}

.yellow
{
  background-color: #F39C12;
}

.blue
{
  background-color: #2980B9;
}

.red
{
  background-color: #E74C3C;
}

.white /* default, unused */
{
  background-color: #B3B6B7;
}
