
#dayPopup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid rgba(19, 18, 24, 0.5);
  border-radius: 10px;
  font-size: 20px;
  height: 400px;
  width: 80vw;
  max-width: 650px;
  z-index: 2;
}

#navdiv {
  display: flex;
  align-items: baseline;
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'Fredoka One', cursive;
}

#close {
  cursor: pointer;
  font-size: 30px;
  margin-right: 12px;
}

 #back {
   cursor: pointer;
   font-size: 30px;
   margin-right: 10px;
 }

#homeworkTitle {
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#homeworkContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#previous, #next {
  cursor: pointer;
}

#homeworkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--margin);
}

#subbar {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 20px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 3px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.vertical {
  flex-direction: column;
  height: 63px;
  margin-left: 10px;
}

.horizontal {
  width: 63px;
  margin-left: 20px;
}

.subicon {
  cursor: pointer;
  outline: none;
  color: white;
  width: 28px;
  height: 28px;
  font-size: 20px;
  font-family: 'Fredoka One', cursive;
  line-height: 0%;
  border: 3px solid rgba(19, 18, 24, 0.5);
  border-radius: 6px;
  background-position: center;
  background-repeat: no-repeat;
}

.accept {
  background-image: url(images/check.svg);
  background-size: 11px;
}

.reject {
  background-image: url(images/bin-light.svg);
  background-size: 12px;
}

.subicon:disabled {
  filter: saturate(50%);
}

.subicon:hover:enabled {
  filter: brightness(125%);
}

.daysContainer {
  position: relative;
}

.homeworkButton {
  height: 29px;
  background-color: #293251;
  border: 3px solid rgba(19, 18, 24, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}

.small:hover{
  filter: brightness(125%);
}

#previous:hover, #next:hover {
  filter: brightness(60%);
}


.small {
  width: 29px;
  font-size: 20px;
  cursor: pointer;
}

.big {
  width: 150px;
}

.arrow {
  cursor: pointer;
}

.buttonBar {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.fakeCheckbox {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin-right: 6px;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.acceptCheckbox {
  position: relative;
  opacity: 0%; 
  width: inherit;
  height: inherit;
  margin: 0;
}

.check {
  background-image: url(images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px;
}

.navPanel {
  width: 80vw;
  max-width: 600px;
  padding: 10px;
  display: flex;
}

.titlePanel {
  width: 80vw;
  max-width: 600px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293251;
  border: 4px solid rgba(19, 18, 24, 0.5);
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.homework {
  display: flex;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 20px;
  text-align: left;
  cursor: pointer;
}

.desc {
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  text-align: left;
}

.homeworkRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 750px;
}

.dayPanel {
  -webkit-tap-highlight-color: transparent;
  width: 80vw;
  max-width: 300px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B3B6B7;
  border: 4px solid rgba(19, 18, 24, 0.5);
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: inherit;
  padding: 5px;
}

.number {
  border-left: 4px solid rgba(19, 18, 24, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.numberBackground {
  background: rgba(19, 18, 24, 0.25);
  border: 2px solid rgba(19, 18, 24, 0.2);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 26px;
  height: 46px;
}

.dayPopupBackground {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(19, 18, 24, 0.25);
  border: 2px solid rgba(19, 18, 24, 0.2);
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

/* ---------------- klasy dla dodajZadanieDomowe.php ---------------- */

.addHomework {
  border: 4px solid rgba(19, 18, 24, 0.5);
  border-radius: 10px;
  font-size: 20px;
  height: 400px;
  width: 80vw;
  max-width: 650px;
  display: flex;
  align-items: stretch;
}

.addHomeworkBackground {
  background: rgba(19, 18, 24, 0.25);
  border-radius: 6px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.addHomeworkButton {
  color: white;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  background-color: #293251;
  border: 3px solid rgba(19, 18, 24, 0.5);
  border-radius: 8px;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}

.addHomeworkButton:hover {
  filter: brightness(125%); 
}

.homeworkInput {
  background-color: #E5E7E9;
  border: 3px solid rgba(19, 18, 24, 0.25);
  border-radius: 6px;
  padding-left: 5px;
  margin-bottom: 5px;
  width: 174px;
  height: 27px;
}

.homeworkTextarea {
  background-color: #E5E7E9;
  border: 3px solid rgba(19, 18, 24, 0.25);
  border-radius: 6px;
  padding-left: 5px;
  font-size: 14px;
  resize: none;
  flex-grow: 1;
  margin: 10px;
  margin-top: 5px;
}

.wrapper {
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.short {
  width: 135px;
  height: 29px;
}

.responsive {
  width: 90%;
  max-width: 320px;
  margin: 0px 10px;
}


