body {
  background-color: #131218;
  font-family: 'Lato', sans-serif;
  color: white;
}

input {
  width: 25vh;
  height: 2.6vh;
  font-size: 2vh;
  font-family: 'Lato', sans-serif;
}

a {
  color: #7aa9f9;
  text-decoration: none;
}

.submit {
  width: 15vh;
  height: 3.2vh;

  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.6vh;
  color: #131218;

  cursor: pointer;
  transition-duration: 0.4s;

  background-color: #E5E7E9;
  border: 3px solid rgba(19, 18, 24, 0.25);
  border-radius: 6px;
}
.submit:hover {
  background-color: #555555;
  color: white;
}

.container {
  display: grid;
  grid-template-rows: 35fr 70fr 10fr 20fr;
  grid-template-columns: 10fr 50fr 10fr;
  grid-template-areas:
  "header header header"
  ". login ."
  ". . ."
  "info info info";

  height: 95vh;
}

.header {
  grid-area: header;
  place-self: center;

  font-size: 10vh;
  font-weight: bold;
  font-family: 'Changa', sans-serif;
}

.login {
  display: flex;
  grid-area: login;
  place-self: stretch center;
  background-color: #293251;
  border: 4px solid rgba(19, 18, 24, 0.5);
  border-radius: 15px;
}

.loginBackground {
  align-self: stretch;
  display: grid;
  grid-template-rows: 25fr 10fr 10fr 10fr 10fr 15fr 10fr;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
  place-items: center;
  width: 47vh;
  font-size: 2.7vh;
  background: rgba(19, 18, 24, 0.25);
  border: 2px solid rgba(19, 18, 24, 0.2);
  border-radius: 6px;
  margin: 5px;
}

.register {
  grid-area: login;
  place-self: stretch center;
  display: flex;
  background-color: #293251;
  border: 4px solid rgba(19, 18, 24, 0.5);
  border-radius: 15px;
}

.registerBackground {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 47vh;
  font-size: 2.7vh;
  background: rgba(19, 18, 24, 0.25);
  border: 2px solid rgba(19, 18, 24, 0.2);
  border-radius: 6px;
  margin: 5px;
}

.alertbox{
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.login-sign-up {
  font-size: 2vh;
}

.login-remember {
  display: flex;
  align-items: center;
}

.login-welcome, .login-password, .login-username{
  font-family: 'Changa', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info {
  grid-area: info;

  font-size: 2.5vh;
  text-align: center;
}
