body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

button{
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

input[type=range]{
  -webkit-appearance: none;
  margin: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 10px;
    width: 10px;
    background: #333;
    cursor: pointer;
    -webkit-appearance: none;
}

label{
  font-size: 14px;
  margin: 0;
  margin-left: 10px;
}

input[type=checkbox]{
  width: 16px;
  height: 16px;
  margin: 0;
  margin-left: 10px;
}

input[type=text]{
  text-align: center;
}

#canvas{
  border: 2px solid #333;
  margin-top: 25px;
  margin-right: 100px;
  margin-left: 100px;
}


#angleSlider1, #angleSlider2{
  width: 800px;
  height: 10px;
}

#SliderBox1, #SliderBox2{
  width: 800px;
  height: 10px;
  background-color: #E33636;
  display: flex;
  margin: 2px;;
  border: solid 1px #333;

}

#sliderValue1, #sliderValue2{
  width: 120px;
}

.slider{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

#iterInput, #kInput{
  width: 32px;
  height: 16px;
  margin-left: 5px;
}

.panel{
  margin-left: auto;
  margin-right: auto;
}


/* additional stuff */
.button-subclass {
  margin-bottom: 10px;
}
