/* section management */
.outer {
  display: grid;
  grid-template-columns: 35% [start] auto [end] 5%;
  grid-template-rows: 8% [start] auto [end];
  height: 100%;
  width: 100%;
}

.inner {
  grid-column: start / end;
  grid-row: start / end;
  align-self: center;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  padding: 50px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}


.heading {
  font-family: 'Martel', serif;
  font-size: 40px;
  margin-bottom: 0;
}

.subHeading {
  font-family: 'Martel', serif;
  font-size: 22px;
  margin: 0;
}

.dotTitle {
  vertical-align: middle;
  text-align: right;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

/* first slide text */
.Slide_1 .Top-heading {
  font-size: 80px;
  margin: 0;
  line-height: 1;
}

/* text boxes in each section */
.inner-text {
  width: 50%;
  display: inline-block;
  font-size: 18px;
  text-align: justify;
}

/* buttons on the home page */
.button {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
  transition-duration: 0.4s;
}

.button-arrow {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
  transition-duration: 0.4s;
}
