html, body {
  overflow-y: auto;
}


.content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 20px 100px auto auto auto auto auto 40px;

  text-align: justify;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 20px;
}

.infoHeading {
  font-family: 'Martel', serif;
  font-size: 35px;
  margin-top: 20px;
}

.infoSubHeading {
  font-family: 'Martel', serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content section:nth-child(1) {
  grid-row: 2 / 3;
}
.content section:nth-child(2) {
  grid-row: 3 / 4;
}
.content section:nth-child(3) {
  grid-row: 4 / 5;
}
.content section:nth-child(4) {
  grid-row: 5 / 6;
}
.content section:nth-child(5) {
  grid-row: 6 / 7;
}

.infoSection {
  margin-top: 20px;
  grid-column: 2 / 3;
}

.infoList {
  background-color: transparent;
  margin: auto;
  padding: auto;
  display: grid
}

.infoList > li {
  margin-top: 10px;
}

.image {
  text-align: center;
}

.collapsible, .collapsible2 {
  background-color: #709fcc;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
}
.active, .collapsible:hover, .collapsible2:hover {
  background-color: #689bcc;
}
.collapsible:after, .collapsible2:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}



.collapseContent {
  overflow: hidden;
  margin-top: 40px;
  max-height: 0;
  transition: max-height 0.6s ease-out;
}

.collapseContent2 {
  display: none;
  overflow: hidden;
  margin-top: 40px;
}

.InfoSlide {
  background-color: #78a3cc;
}

.line {
  height: 1px;
  background-color: white;
  border: none;
}

.line2 {
  height: 1px;
  background-color: white;
  border: none;
  width: 60%;
}
